<a href="https://colab.research.google.com/github/ruthiang/Ruth_data690/blob/main/assignment_03/hw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework #3
## Ruth Iang
## 2/19/2022

In [67]:
import random

## Question 1

In [68]:
for j in range(10):
    for i in range(10):
        num = random.randint(0,9)
        print(num, end=" ")
        
    print(" ")

9 8 6 2 4 7 3 3 9 7
8 6 3 6 3 7 3 5 0 2
3 1 8 7 0 2 1 3 5 7
9 5 5 4 1 6 3 0 8 7
3 6 7 4 2 8 6 1 1 1
7 6 9 8 9 2 9 0 6 7
4 7 6 8 5 1 5 9 3 4
5 2 1 6 6 6 9 8 0 2
8 2 8 8 2 9 3 6 1 8
3 7 7 2 7 8 9 6 3 4

## Question 2

In [69]:
for j in range(10):
    for i in range(10):
        num = random.randint(0,9)
        if num % 2 == 0:        # even number
            print(num, end=" ")
        else:                   # odd number
            print("@", end=" ")

    print(" ")

@ 4 0 8 4 4 @ 0 @ 2
0 0 6 2 @ @ @ 8 @ 0
@ 4 2 @ 8 0 8 @ @ @
@ 0 @ @ @ 4 2 0 6 2
@ @ 8 4 2 @ 2 @ 4 2
8 @ @ 4 @ 0 6 4 @ 8
@ 8 @ @ 0 2 @ 8 @ @
0 6 4 6 0 0 0 2 @ 6
2 @ @ @ 4 0 0 4 @ 8
@ 6 @ 4 @ @ @ 0 2 2

# Question 3

In [71]:
for j in range(10):

    total = 0                           # total for i starts at 0
    for i in range(10):
        num = random.randint(0,9)       
        total = total + num             #adds num to the total as the list goes on
        print(num, end=" ")
         
    print("*", total)

2 4 4 2 0 8 2 0 4 5 * 31
9 2 1 8 1 8 2 1 8 2 * 42
4 0 2 8 8 5 2 2 1 4 * 36
5 5 8 4 7 4 9 9 9 1 * 61
1 5 5 1 1 5 7 6 1 7 * 39
0 9 2 3 1 8 5 0 8 1 * 37
7 3 6 8 4 6 3 1 6 9 * 53
5 8 1 8 9 9 7 7 5 6 * 65
8 3 3 9 1 5 8 2 8 1 * 48
5 9 7 6 4 1 7 5 7 9 * 60

## Question 4

In [72]:
print("***********************")                # for the top of the columns
for j in range(10):
    print("*", end=" ")                         # for the left of i
    for i in range(10):
        print(random.randint(0,9), end= " ")
    print("*")                                  # for the right side of i
print("***********************")                # for the bottom of the columns

***********************
* 3 5 2 4 3 9 2 2 3 9 *
* 0 3 9 7 3 0 5 4 2 0 *
* 0 8 9 5 8 9 1 0 4 4 *
* 2 6 6 6 2 7 2 9 7 7 *
* 1 5 6 6 2 5 5 4 8 0 *
* 3 2 2 4 5 7 9 7 0 7 *
* 0 7 8 7 3 9 0 2 6 0 *
* 2 0 9 6 5 4 6 9 3 8 *
* 4 3 9 6 8 9 1 5 0 0 *
* 8 6 0 0 2 0 8 5 9 0 *
***********************

## Question 5

In [292]:
total_1 = [0]*10

for j in range(10):
    total = 0
   
    for i in range(10):
        num= random.randint(0,9)
        total = total + num
        total_1[j] = total_1[j] + num
        print(num, end ="  ")    
    print("*", total)

print("*  *  *  *  *  *  *  *  *  * ",end=" ") 
print()

for j in range(10):
    print(total_1[j], end=" ")

2  7  4  8  4  0  2  5  7  8  * 47
7  9  5  3  5  5  8  2  4  1  * 49
0  5  7  5  6  7  6  9  1  0  * 46
1  1  2  3  8  3  1  3  5  5  * 32
2  8  1  8  9  9  4  8  8  0  * 57
6  2  1  0  3  1  5  0  0  4  * 22
5  9  4  7  7  3  6  0  3  0  * 44
6  1  7  4  4  0  3  7  2  1  * 35
4  3  3  5  2  4  0  7  2  9  * 39
2  1  1  4  4  8  9  2  8  3  * 42
*  *  *  *  *  *  *  *  *  *
47 49 46 32 57 22 44 35 39 42